
 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Sửa Loại</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                
                <div class="text-center mb-4 mt-3">
                    <a href="index.html">
                        <span><img src="assets\images\logo-dark.png" alt="" height="30"></span>
                    </a>
                </div>
                 
                 <form name="myform" method="POST" onsubmit="return validateform()">
                 {{#loai}}
                        <div class="form-group">
                            <label for="makm" class="col-md-3 control-label">Mã loại</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="MaLoai" 
                                placeholder="" value="{{this.MaLoai}}" readonly>
                            </div>
                        </div>
                         {{!-- <div class="form-group">
                            <label for="ten" class="col-md-3 control-label">Mã danh mục</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="" 
                                placeholder="" value="{{this.MaDM}}" readonly>
                            </div>
                        </div> --}}
                        <div class="form-group">
                            <label for="ten" class="col-md-3 control-label">Tên loại</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txttenloai" name="TenLoai"
                                placeholder="" value="{{this.TenLoai}}" autofocus>
                            </div>
                        </div>
                         
                    <button type="submit" class="btn btn-primary" title="Cập nhật" formaction="/admin/category/update">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Cập nhật
                    </button>
                    {{/loai}}
                </form>
                       
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<script language="javascript">
    function validateform() {
      var TenLoai = document.myform.TenLoai.value;

        if(TenLoai==""){
            alert('Chưa nhập tên, mời bạn nhập lại!')
            return false
        }
        
        //alert('cập nhật thành công!')
        //return true
    }
</script>