
/* Kiểu nút Dropdown */
.navbar {
    background-color: #ffffff;
}
.navbar-nav {
  background-color: #58257b;
  color: rgb(170, 7, 7);
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dùng trong <div> để định vị nội dung thả xuống */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung thả xuống (Ẩn theo mặc định) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Liên kết bên trong danh sách thả xuống */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Thay đổi định dạng của liên kết thả xuống khi di chuột qua */
.dropdown-content a:hover {
  background-color: #58257b;
  color: rgb(7, 7, 7);
}

/* Hiển thị menu thả xuống khi di chuột */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Thay đổi màu nền của nút thả xuống khi nội dung được hiển thị */
.dropdown:hover .dropbtn {
  background-color: #984eca;
}
