<div id="container">

<div id="content" class="container"><div class="doublepad">  <div class="pagetitle marbot">Thay đổi mật khẩu</div>
  <form class="window" action="" method="post" onsubmit="return kiemTraForm()">
    <h2>Mật khẩu</h2>
    <div class="content">
      <table class="form">
        {{#edit}}
        <tbody><tr>
          <td><span class="required">*</span> Mật Khẩu:</td>
          <td>
             <input type="password" name="password" id="txtPassword"  placeholder="Độ dài ít nhất 8 kí tự" 
                required pattern="^[A-Za-z0-9!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{8,}$"
                  title="Mật khẩu phải viết liền không dấu">
            </td>
        </tr>
        <tr>
          <td><span class="required">*</span> Nhập lại mật khẩu:</td>
           <td>
               <input type="password" id="txtConfirm" Confirm="confirm" 
                required title="Mật khẩu không hợp lệ" placeholder="Độ dài ít nhất 8 kí tự *">
            </td>
        </tr>
      </tbody>
      {{/edit}}
      </table>
    </div>
    <div class="buttons">
      <div class="alleft butmodify"><a href="/account/profile" class="button_normal colorback">Quay lại</a></div>
      <div class="alright">
        <input type="submit" value="Cập nhật" class="button_normal colorback">
      </div>
    </div>
  </form>
  </div></div>

</div>

<script type="text/javascript">
        function kiemTraForm() {
            var password = document.getElementById("txtPassword").value
            var re_password = document.getElementById("txtConfirm").value
            if(password==""){
                alert('Chưa nhập Mật khẩu, mời bạn nhập lại!')
                return false
            }
            if(password!= re_password){
                alert('Mật khẩu chưa khớp, mời bạn nhập lại!')
                return false
            }
            alert('Cập nhật thành công!')
            return true
        }
</script>
