<!DOCTYPE html>
<html>
    <head>
        <title>Đăng ký tài khoản mới</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          *{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.col-6{
    float: left;
    width: 50%;
}
.margin_b{
    margin-bottom: 7.5px;
}
.clear{
    clear: both;
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}

h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}

.register-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}

.input-box{
    margin-bottom: 10px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='date']{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
}
.input-box select{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
}
.input-box option{
    font-size: 16px;
}
.input-box input[type='checkbox']{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    line-height: 2em;
}
.input-box textarea{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    min-height: 120px;
    color: #666666;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
        </style>
    </head>
    <body>

        <main>
            <div class="container">
                <div class="register-form">
                    <form method="POST" name="form1" class="box" onsubmit="return checkStuff()">
                        <h1>Đăng nhập tài khoản</h1>
                        {{#if err}}
                        <span class="errorline colorfront">{{err}}</span>
                        {{/if}}
                        <div class="input-box">
                            <input type="text" name="username" placeholder="Nhập tên tài khoản" id="usn" autocomplete="off">
                        </div>
                        <div class="input-box">
                            <i class="typcn typcn-eye" id="eye"></i>
                            <input type="password" name="password" placeholder="Nhập mật khẩu" id="pwd" autocomplete="off">
                        </div>
                        <div class="btn-box" style="text-align: center;">
                            <button type="submit">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                    <a href="/account/register" class="dnthave">Bạn chưa có tài khoản? Đăng ký ngay</a>
                </div>
            </div>
        </main>
       
       
    </body>
</html>