<head>
 
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
 
</head>
{{#section "js"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  >
  </script>


  {{!  
      $('#frmRegister').on('submit',function(e){
           // alert('submit called');
            e.preventDefault();
            if(validate())
            $('#frmRegister').off('submit').submit();
            validate();
        })
        function validate(){
            // ...cac lenh validate khac
            const user=$('#txtUsername').val();
            $.getJSON(`/account/is-available?user=${user}`, function(data){
                if(data === true){
                    $('#frmRegister').off('submit').submit();
                }else{
                    alert('not available';)
                }
            });
           // return true;
        }
     }}
{{/section}}
<!--     $('#txtDob').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,//ko can gio
            mask:true,//hien thi ô gõ
        })
        
    -->
<div class="card">
  <div class="card-header">
    <h4>Register</h4>
  </div>
  
  <div class="card-body">
   
    
    <form method="POST" action="">
      <div class="form-group">
        <label for="txtName">Tên đăng ký</label>
        <input
          type="text" class="form-control" id="txtName" name="tenkh" placeholder="VD: Nguyen Van A *"
          required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Tên đăng ký không hợp lệ!"
        />
      </div>
      <div class="form-group">
        <label for="txtUsername">Tên đăng nhập</label>
         <input type="text" class="form-control" id="txtUsername"  placeholder="VD: NguyenVanA *"
          autofocus name="username"  pattern="^[A-Za-z0-9@._-]{6,20}$"	title="Tên đăng nhập không hợp lệ!"
          />
      </div>
      <div class="form-group">
        <label for="txtPassword">Mật Khẩu</label>
        <input
          type="password"
          class="form-control"
          id="txtPassword"
          name="password" required pattern="^[A-Za-z0-9!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{8,}$"title="Mật khẩu phải viết liền không dấu"
          placeholder="Độ dài ít nhất 8 kí tự *"
        />
      </div>
      <div class="form-group">
        <label for="txtConfirm">Nhập lại mật khẩu</label>
        <input
          type="password"
          class="form-control"
          id="txtConfirm"
          Confirm="confirm"
          placeholder="Độ dài ít nhất 8 kí tự *"
        />
      </div>
       <div class="form-group">
        <label for="txtSdt">Số Điện Thoại</label>
        <input type="text" class="form-control" id="txtSdt" name="sdt" placeholder="VD: 0123456789 *"
         pattern="^[0-9]{10}$"title="Số điện thoại không hợp lệ!"
        />
      </div> 
      <div class="form-group">
        <label for="txtEmail">Email xác thực </label>
        <input type="text" class="form-control" id="txtEmail" name="email" placeholder="VD: shoppn@gmai.com *"
         pattern="^[a-z0-9]+@[a-z0-9.]{6,20}$"title="Email không hợp lệ!"
        />
      </div>     
       <button type="submit" class="btn btn-outline-info" onclick="kiemTraForm()">Đăng ký</button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
<script type="text/javascript">
function kiemTraForm() {
   var name = document.getElementById("txtName").value
   var username = document.getElementById("txtUsername").value
   var password = document.getElementById("txtPassword").value
   var re_password = document.getElementById("txtConfirm").value
    var sdt = document.getElementById("txtSdt").value
    var email = document.getElementById("txtEmail").value
   if(name==""){
   alert("Chưa nhập Tên đăng kí, mời bạn nhập lại!")
    return false
    }
   if(username==""){
   alert("Chưa nhập Tên đăng nhập, mời bạn nhập lại!")
    return false
    }
    if(password==""){
    alert('Chưa nhập Mật khẩu, mời bạn nhập lại!')
    return false
    }
   if(password!= re_password){
      alert('Mật khẩu chưa khớp, mời bạn nhập lại!')
      return false
   }
    if(sdt==""){
      alert('Chưa nhập Số điện thoại, mời bạn nhập lại!')
      return false
   }
    if(email==""){
      alert('Chưa nhập Email, mời bạn nhập lại!')
      return false
   }
   return true
}
</script>
<script type="text/javascript">
var input_username = document.getElementById("txtUsername")
input_username.addEventListener('keyup',function() {
   if(input_username.value.length>20){
       alert("Tên đăng nhập quá dài, hơn 20 ký tự")
    }
});
</script>
