<div id="container">

 <div id="content" class="container">
<div class="doublepad success_page">
  <div class="checkout_step3"></div>
  <div class="pagetitle marbot"><i class="icon-success"></i>Tài khoản của bạn đã được tạo!</div>
  <p><b>Xin chúc mừng! Tài khoản Mua hàng của bạn đã tạo thành công!</b></p> 
  <p><b></b> Trở thành Thành viên và là "Khách hàng thân thiết hoặc khách hàng VIP" của bexinhshop bạn sẽ được hưởng nhiều chương trình ưu đãi.</p>
  <p>
    <img alt="" src="https://www.bexinhshop.vn/image/data/be-xinh-shop/logobx1.png" style="width: 140px; height: 56px;">
  </p>
    <div class="buttons">
      <div class="alleft butmodify">
        <a href="/" class="button_normal colorback">Trang chủ</a>
      </div>
      <div class="alright">
        <a href="/account/login" class="button_normal colorback">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>

 <div class="social-share-inner">
  </div>
  
</div>