 
 <head>
    <script type="text/javascript" src="/public/detail/global_bx.js.download"></script>
</head>
<!-- Start container-fluid -->
<div class="container-fluid">

<!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Thêm mới tài khoản</h4>
            
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" name="myform" method="POST" action="" onsubmit="return validateform()">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Họ Tên:</label>
                <div class="col-md-9">
                    {{!-- <div id="nname">
                        
                    </div> --}}
                    <input type="text" class="form-control" name="tennv" id="txtName" placeholder="Nhập họ tên"
                    required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$" title="Tên đăng ký không hợp lệ!">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Giới tính:</label>
                <div class="col-md-9">
                    <input type="radio" id="nam" name="gioitinh" value="Nam" checked="">
                    <label for="nam">Nam&ensp;</label>
                    <input type="radio" id="nu" name="gioitinh" value="Nữ">
                    <label for="nu">Nữ</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="txtEmail">Email:</label>
                <div class="col-md-9">
                    <input type="email" id="txtEmail" name="email" class="form-control" placeholder="Nhập Email"
                    required spattern="^[a-z0-9]+@[a-z0-9.]{6,20}$"title="Email không hợp lệ!">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="txtsdt">Số điện thoại:</label>
                <div class="col-md-9">
                    <input type="text" id="txtsdt" name="sdt" class="form-control" placeholder="Nhập số điện thoại"
                    required  pattern="^[0-9]{10}$" title="Số điện thoại không hợp lệ!">
                </div> 
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="txtusername">Tên đăng nhập:</label>
                <div class="col-md-9">
                    <input type="text" id="txtUsername" name="username" class="form-control" placeholder="Nhập tên đăng nhập"
                     required pattern="^[A-Za-z0-9@._-]{6,20}$"	title="Tên đăng nhập không hợp lệ!">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="txtPassword">Mật khẩu:</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" name="password" id="txtPassword" placeholder="Độ dài ít nhất 8 kí tự" 
                     required pattern="^[A-Za-z0-9!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{8,}$"
                  title="Mật khẩu không hợp lệ!">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="txtConfirm">Nhập lại mật khẩu:</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" name="confirm" id="txtConfirm" Confirm="confirm"
                    required title="Mật khẩu không hợp lệ" placeholder="Độ dài ít nhất 8 kí tự *">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Ngày sinh:</label>
                <div class="col-md-9">
                    <input type="date" id="txtngaysinh" name="ngaysinh"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Quyền:</label>
                <div class="col-md-9">
                    <input type="radio" id="admin" name="quyen" value="admin">
                    <label for="admin">Admin&ensp;</label>
                    <input type="radio" id="nv" name="quyen" value="nhanvien" checked="">
                    <label for="nv">Nhân viên</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Thêm mới
            </button>
        </form>
    </div>
    <!-- end -->
</div>
<!-- end row -->
<script language="javascript">
        function validateform() {
            var tennv = document.myform.tennv.value;
            var email = document.myform.email.value;
            var sdt = document.myform.sdt.value;
            var username = document.myform.username.value;
            var password = document.myform.password.value;
            var confirm = document.myform.confirm.value;
            var ngaysinh = document.myform.ngaysinh.value;
           // var name1 = '';
            if(tennv == null || tennv == ""){
               alert("Chưa nhập Họ Tên, mời bạn nhập lại!")
               // name1 += '<label class="col-md-2 col-form-label">Ban chua nhap ten</label>'
                return false
            }//document.getElementById('nname').innerHTML = name1;
            if(email==""){
                alert('Chưa nhập Email, mời bạn nhập lại!')
                return false
            }
            if(sdt==""){
                alert('Chưa nhập Số điện thoại, mời bạn nhập lại!')
                return false
            }
            if(sdt==""){
                alert('Chưa nhập Số điện thoại, mời bạn nhập lại!')
                return false
            }
            if(username==""){
                alert("Chưa nhập Tên đăng nhập, mời bạn nhập lại!")
                return false
            }
            if(password==""){
                alert('Chưa nhập Mật khẩu, mời bạn nhập lại!')
                return false
            }
            if(password!= confirm){
                alert('Mật khẩu chưa khớp, mời bạn nhập lại!')
                return false
            }
            if(ngaysinh==""){
                alert('Chưa nhập ngày sinh, mời bạn nhập lại!')
                return false
            }
            
            alert('Đăng ký thành công!')
            return true
        }
</script>
