<!DOCTYPE html>

<html dir="ltr" lang="vi" class=" js csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

<meta http-equiv="content-language" content="vi">
<link rel="alternate" href="https://www.bexinhshop.vn/" hreflang="vi">
<title>Quần áo trẻ em 2022 - Thời trang trẻ em Rẻ &amp; Đẹp | Bé xinh shop</title>

<meta property="fb:app_id" content="1689049434695065">
<meta property="og:site_name" content="bexinhshop.vn">
<meta property="og:url" content="https://www.bexinhshop.vn">
<meta property="og:type" content="website">
<meta name="distribution" content="Global">
<meta name="revisit" content="1 days">
<meta name="geo.placename" content="Vietnamese">
<meta name="geo.region" content="VN">
<meta name="dc.creator" content="bexinhshop">

<meta name="description" content="Quần áo trẻ em rẻ &amp; đẹp, nhiều mẫu mới cho Bé Trai và Bé Gái. Shop thời trang trẻ em Online uy tín tại TpHCM. Giao hàng Tận nơi trên Toàn quốc.">
<link href="https://www.bexinhshop.vn/image/data/cart.png" rel="icon">

{{!--  --}}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{!--  --}}<link rel="stylesheet" type="text/css" href="/public/main/global_bx.css">
{{!--  --}}<link rel="stylesheet" type="text/css" href="/public/main/font-awesome.css">
<!-- Twitter bootstrap 2.1.0 -->
{{!--  --}}<script src="/public/main/sdk.js.download" async="" crossorigin="anonymous"></script><script src="/public/main/328591041988090" async=""></script><script id="facebook-jssdk" src="/public/main/sdk.js(1).download"></script><script type="text/javascript" async="" src="/public/main/ecommerce.js.download"></script><script src="/public/main/328084215374698" async=""></script><script async="" src="/public/main/fbevents.js.download"></script><script async="" src="/public/main/analytics.js.download"></script><script type="text/javascript" src="/public/main/global_bx.js.download"></script>

<style>
  .logo{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon-logo.png) 0px 0px no-repeat !important;
    background-size: 135px !important;
    -webkit-background-size: 116px 35px;
    -moz-background-size: 116px 35px;
    height: 56px;
    top: 0;
  }
  .wisl_deatails{
    font-weight: bold;
    border: none !important;
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/love.png) no-repeat !important;
    background-position: 5px 3px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-weight: normal !important;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 11px !important;
    color: gray;
  }

  input[type="button"].addtocart {
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/cart.png")  no-repeat;
  border: 1px #c70410 solid;
  border-radius: 3px;
  padding: 13px 10px 10px 35px;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  background-color: #e5101d;
  position: relative;
  background-size: 30px 30px;
  background-position: 2px 5px;
  margin-top:5px
}

.footer_cart{
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/imgres.jpg")  no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 21%;
  
}

  a.Chk{
  display: inline;
  padding: 5px 25px 1px 18px !important;
  color: #333 !important;
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/check_ico.1.0.png") 0 5px no-repeat;
  font-weight: normal
}

a.activeChk{
  display: inline;
  padding: 5px 25px 1px 18px !important;
  color: #333 !important;
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/check_ico.1.0.png") 0 -18px no-repeat;
  font-size: 14px;
  font-weight: bold
}

.icon-success{
	background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon-success.png) 0px 0px no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
        vertical-align: middle;
        margin-right: 10px
}

@media (max-width: 710px) {
  .call_now{
    background: url('https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/phone.jpg') no-repeat; 
    background-size: 15%;
    background-position: 5px 5px;
  }
}  

@media (max-width: 470px){
  input[type="button"].m_pdetails_addtocart{
    width: 62%;
    float: right;
    border-radius: 0px;
    background-image: none;
  }
  .imenu {
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/menu.png) 1px 1px no-repeat;
    padding-left: 20px;
  }
  .wisl_deatails{
     float: right;
    background-position: 5px 8px !important;
    
  }

  .m_icon_back{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_back_white.png) 0px 0px no-repeat;
      background-size: 12px;
      width: 18px;
      height: 25px;
      display: block;
      float: left;
  }

  .p_details_chosse_att a{
    display: block;
    padding: 15px;
    margin: 10px 0 15px 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    color: lightslategray;
    background: white url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_pointer.png) 17px 7px no-repeat;
      background-size: 40px;
      font-size: 13px;
  }

  .p_details_chosse_att_next{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_next_gray.png) 0px 0px no-repeat;
      background-size: 20px;
      
      width: 20px;
      height: 20px;
      float: right;
  }
}

</style>
<body>
    {{> menu}}
    <div id="container">

        {{{body}}}
        
        {{> footer}}

    </div>
    {{!-- <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1031; top: 0px; left: 0px; display: none;"></ul>
    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul>
     <a class="bigfooticon colorback" href="#" id="toTop" style="display: none;"><span id="toTopHover" style="opacity: 0;"></span><i class="icon-chevron-up icon-large"></i></a>
 --}}
</body>
</html>