<!DOCTYPE html>
<html lang="en">

<head>
	{{!-- css footer --}}
    <link rel="stylesheet" href="/public/stylesheets/style.footer.css">
</head>

<body>

</body>

</html>
<footer class="footer-distributed">
	<div class="footer-left">
		<h3>Shop<span>BeXinh</span></h3>
		<p class="footer-links">
			<a href="/"><img src="/public/image/home.png"></a>
		</p>
		<p class="footer-company-name">&copy; 10/2021 - Trang mua sắm online </p>
	</div>
	<div class="footer-center">
		<p class="footer-company-about">
			<span>Liên Hệ </span>
		</p>
		<div>
			<a href="#"><img src="/public/image/icon5.png" /></a>
			<p><a href="https://goo.gl/maps/ufsyZSGUXmtTCBjG7">181 Cao Lỗ ,Phường 04 ,Quận 8 </a></p>
		</div>

		<div>
			<a href="#"><img src="/public/image/icon6.png" /></a>
			<p>0337876016</p>
		</div>

		<div>
			<a href="#"><img src="/public/image/icon7.png" /></a>
			<p><a href="https://mail.google.com/">nnhann99@gmail.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>Kết Nối </span>
			Xem thêm nhiều thông tin về sản phẩm của chúng tôi ,liên hệ qua các ứng dụng
		</p>
		<div class="footer-icons">
			<a href="#"><img src="/public/image/icon1.png" /></a>
			<a href="https://www.facebook.com/nguoidung2402"><img src="/public/image/icon2.png" /></a>
			<a href="#"><img src="/public/image/icon3.png" /></a>
			<a href="#"><img src="/public/image/icon4.png" /></a>
		</div>
	</div>
</footer>