<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- css header --}}
    <link rel="stylesheet" href="/public/stylesheets/style.header.css">
 
</head>

<body>
    <nav class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <span class="nav-text">
                        <i class="fa fa-phone" aria-hidden="true"></i> +033 787 6016
                        <i class="fa fa-envelope" aria-hidden="true"></i> nnhann99@gmail.com</span>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4 text-right hidden-xs">
                    <ul class="tools">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-globe"
                                    aria-hidden="true"></i> Language<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Russian</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Mandarin</a></li>
                                <li><a href="#">Italian</a></li>
                                <li><a href="#">Gorgean</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="" href="#"><i class="fa fa-user" aria-hidden="true"></i> My Account</a>
                        </li>

                       <!-- <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-usd"
                                    aria-hidden="true"></i> Currency<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">$</a></li>
                            </ul>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--TOP-NAVBAR-END-->
</body>

</html>