<div class="vpf-wrapper">

  <header id="vpf-header">
    <div class="header-top">
      <div class="container">
        <div class="inner-container">
          <div class="row">
            <div class="col-md-3 vpf-logo align-left-lg align-center-md">
              <a class="brand" href="/"><img
                  class="site-logo logo-mobile visible-xs img-responsive"
                  src="/public/image/logo.png"
                  alt="Quần áo trẻ em xuất khẩu - Thời trang trẻ em bé sành điệu"
                /></a>
            </div>
            <div class="col-md-6 header-add-margin">
              <div class="product-search">
                <form
                  action="/component/virtuemart/search.html?Itemid=167"
                  method="get"
                >
                  <div class="search-input-group"><div
                      class="search-button-cont"
                    ><button
                        type="submit"
                        class="btn btn-invert search-button"
                        title="Tìm kiếm"
                        onclick="this.form.keyword.focus();"
                      ><i class="icon-search"></i><span class="sr-only">Tìm kiếm</span></button></div><label
                      for="mod_virtuemart_search"
                      class="sr-only"
                    >Tìm kiếm</label><input
                      type="text"
                      name="keyword"
                      id="mod_virtuemart_search"
                      maxlength="20"
                      class="form-control"
                      size="20"
                      value=""
                      placeholder="Tìm kiếm sản phẩm ..."
                    /></div>
                  <input type="hidden" name="limitstart" value="0" />
                  <input type="hidden" name="option" value="com_virtuemart" />
                  <input type="hidden" name="view" value="category" />
                  <input type="hidden" name="Itemid" value="167" />
                </form>
              </div>
            </div>
            <div class="col-md-3 last-group">
              <div class="navbar navbar-offcanvas">
                <a
                  class="btn navbar-toggle vpf-offcanvas-toggle"
                  href="#vpf-offcanvas"
                >
                  <span class="sr-only">Toggle menu</span>
                  <i class="icon-menu7"></i>
                </a>
                <div
                  class="navbar-offcanvas-modules align-right"
                  data-align="check"
                >
                  <div class="mini-cart-mod inline-block header-add-margin">
                    <div class="vp-minicart">
                      <div class="vp-dropmod-container">
                        <div class="vp-dropmod-anchor btn-jewel-group">
                          <a class="btn btn-foricon empty"><i
                              class="icon-cart6 icon-lg"
                            ></i></a>
                          <div class="jewel jewel-top jewel-invert hide">
                            <span class="product-count">0</span>
                          </div>
                        </div>
                        <div
                          class="vp-dropmod-inner drop-right"
                          style="min-width: 38px;"
                        >
                          <div class="vp-dropmod-contents">
                            <div class="vp-dropmod-header empty">
                              <div class="row row-mini">
                                <div class="col-xs-12 align-center">
                                  Không có sản phẩm nào trong giỏ hàng.
                                </div>
                              </div>
                            </div>
                            <div class="vp-dropmod-loader hide"><div
                                class="inner"
                              ></div></div>
                          </div>
                        </div>
                        <div class="vp-dropmod-pointer"></div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

</div>