<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- css header --}}
    <link rel="stylesheet" href="/public/stylesheets/style.header.css">
 
</head>

<body>
    <nav class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <span class="nav-text">
                        <i class="fa fa-phone" aria-hidden="true"></i> +033 787 6016
                        <i class="fa fa-envelope" aria-hidden="true"></i> nnhann99@gmail.com</span>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4 text-right hidden-xs">
                    <ul class="tools">
                        

                       
                        <form id="frmLogout" action="/account/logout" method="POST"></form>

                        {{#if lcIsAuthenticated}}
                            <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <i class="fa fa-user" aria-hidden="true"></i>
                                WellCome,
                                <b>{{lcAuthUser.tenkh}}</b>!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/account/profile">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Account profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a
                                class="dropdown-item"
                                href="javascript: $('#frmLogout').submit()"
                                >
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout</a>
                            </div>
                            </li>
                        {{else}}
                            <li class="dropdown">          
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user"
                                        aria-hidden="true"></i>  Tài khoản<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/account/login">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="/account/register">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {{/if}}               
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--TOP-NAVBAR-END-->
</body>

</html>