<html lang="en">

  <head>
    {{! css menu }}
    <link rel="stylesheet" href="/public/stylesheets/style.menu.css" />

    {{! <style>
      .dropdown{ position: relative; display: inline-block; } /*sub-menu*/
      .dropdown-content{ display: none; position: absolute; background-color:
      #ff0b0b; z-index: 1; list-style: none; } 
      .dropdown:hover
      .dropdown-content{ display: block; }
      .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem ;
    clear: both;
    font-weight: 400;
    color: #69bd1b;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
    </style> }}

  </head>

  <body>
<div class="container">
      <div class="inner-container">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <a class="navbar-brand" href="/">ShopPN</a>
   
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">

              <i class="fa fa-home" aria-hidden="true"></i>

              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
           <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
           <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
           <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
           <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
           <li class="nav-item dropdown">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
              >Bé Gái</a>

              <div class="dropdown-content">
                <a href="#">Áo</a>
                <a href="#">Quần</a>
                <a href="#">Đầm</a>
              </div>
            </div>
          </li>
        
        
       
        </ul>
      <form
          class="form-inline my-2 my-lg-0 mr-auto"
          method="GET"
          action="/search"
          >
          <input
            class="form-control mr-sm-2"
            name="TenSP"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-light my-2 my-sm-0"
            type="submit"
          >Search</button>
        </form> 
      

      </div>
    </nav>
</div>
</div>
  </body>

</html>